<form action="/calcular" method="post">
	<input type="hidden" name="operacao" value="<%- operacao %>" />
	<label> Quantidade de Parcelas </label>
	<input type="text" name="quantidade" />
	<input type="submit" value="Calcular" />
</form>

<% if(typeof(resultado) != 'undefined') { %>
	<p>Valor de cada parcela: <%= resultado %>.</p>
<% } %>