<link href="css/form.css" rel="stylesheet" type="text/css">

<form action="/calcular" method="post">
	<input type="hidden" name="operacao" value="<%- operacao %>" />
	<center>
    <label>Quantidade de Parcelas  </label>
		<input ng-model="dado" id = "quantidade" name="quantidade" type="text" class="input-small ng-valid ng-touched ng-dirty" size="5">
		<button ng-click="doAddition()" id="botao" class="calc">Calcular</button>
    </center>
</form>

<% if(typeof(resultado) != 'undefined') { %>
	<p id = "result">Valor de cada parcela: R$ <%= resultado %>.</p>
<% } %>

<a href="/">Voltar</a>